<div class="container mt-4">
  <% if @alert.present? %>
    <div class="alert-red">
      <%= link_to services_path, class: "alert-link font-weight-normal", data: {toggle:"collapse", target:"#collapseInfos"}, aria: { expanded: false} do %>
        <i id="arrow" class="fas fa-angle-down"></i>
      <% end %>
      <strong><%= @alert.title %></strong>
      <div class="alert-cross">
        <%= link_to info_syndic_path(@alert), method: :patch do  %> 
          <i class="fas fa-times alert-link"></i>
        <% end %>
      </div>
      <div class="collapse" id="collapseInfos">
        <%= @alert.content %>
      </div>
    </div>
  <% end %>
  <h1 class="text-center ">Services</h1>
  <div class="d-flex justify-content-center">

  <%= link_to "Enjoy it !", services_path(category: params[:category] == "offer" ? "" : "offer"),
                       class: "mt-2 mb-4 ml-4 mr-4 without-decoration #{params[:category] == 'offer' ? 'button-red' : 'button-red-t'}" %>

  <%= link_to "Help them !", services_path(category: params[:category] == "demand" ? "" : "demand"),
                       class: "mt-2 mb-4 ml-4 mr-4 without-decoration #{params[:category] == 'demand' ? 'button-dark-grey' : 'button-dark-grey-t'}" %>

  </div>
  <div class="grid-services">
    <% @services.each do |service| %>
      <div class="grid-col-services">
        <%= link_to service_path(service), class: 'without-decoration' do %>
          <div class="card-service">
            <% if service.category == "offer" %>
              <div class="card-service-offer">
              </div>
            <% else %>
              <div class="card-service-demand">
              </div>
            <% end %>
            <% if service.user.photo.attachment.nil? %>
              <%= image_tag('Avatar_default.jpeg', crop:"fill", class: "card-service-avatar") %>
            <% else %>
              <%= cl_image_tag service.user.photo.key, crop: :fill, class: "card-service-avatar"%>
            <% end %>
            <div class="card-service-text">
              <div class="card-service-title">
                <%= service.title %>
              </div>
              <div class="card-service-body">
                by <%= service.user.pseudo %> - <%= service.created_at.strftime("%d-%m-%Y") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
