<div class="container mt-4">
  <% if @alert.present? %>
    <div class="alert-red">
      <%= link_to services_path, class: "alert-link font-weight-normal", data: {toggle:"collapse", target:"#collapseInfos"}, aria: { expanded: false} do %>
        <i id="arrow" class="fas fa-angle-down"></i>
      <% end %>
      <strong><%= @alert.title %></strong>
      <div class="alert-cross">
        <%= link_to info_syndic_path(@alert), method: :patch, remote: true do  %> 
          <i class="fas fa-times alert-link"></i>
        <% end %>
      </div>
      <div class="collapse" id="collapseInfos">
        <%= @alert.content %>
        <div>
          <% if @alert.file.attachment.present? %>
            <%= link_to Cloudinary::Utils.download_zip_url({public_ids: [@alert.file.key]}) do %>
              <i class="fas fa-file-download"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<%= link_to services_path, class: "link-without-style" do%>  
  <h1 class="text-center hide-1080px">Services</h1>
<%end  %>
<div class="d-flex justify-content-center">

  <%= link_to services_path(category: params[:category] == "offer" ? "" : "offer"),
                       class: "mt-2 mb-4 ml-4 mr-4 without-decoration #{params[:category] == 'offer' ? 'offer-button' : 'offer-button-desactiv'}" do %>
                   <i class="fas fa-smile-wink fa-3x"></i>
                   <p>Enjoy it!</p>
  <% end %>

  <%= link_to services_path(category: params[:category] == "demand" ? "" : "demand"),
                       class: "mt-2 mb-4 ml-4 mr-4 without-decoration #{params[:category] == 'demand' ? 'demand-button' : 'demand-button-desactiv'}" do %>
                      <i class="fas fa-hands-helping fa-3x"></i>
                      <p>Help them!</p>
  <%end  %>


</div>
  <div class="grid-services">
    <% @services.each do |service| %>
      <div class="grid-col-services">
        <%= link_to service_path(service), class: 'without-decoration' do %>
          <div class="card-service">
            <% if service.category == "offer" %>
              <div class="card-service-offer">
              </div>
            <% else %>
              <div class="card-service-demand">
              </div>
            <% end %>
            <% if service.user.photo.attachment.nil? %>
              <%= image_tag('Avatar_default.jpeg', crop:"fill", class: "card-service-avatar") %>
            <% else %>
              <%= cl_image_tag service.user.photo.key, crop: :fill, class: "card-service-avatar"%>
            <% end %>
            <div class="card-service-text">
              <div class="card-service-title">
                <%= service.title %>
              </div>
              <div class="card-service-body">
                by <%= service.user.pseudo %> - <%= service.created_at.strftime("%d-%m-%Y") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
