<div class="container mt-4 mb-5">
  <h1 class="text-center mb-4 hide-1080px">My neighbors</h1>

  <div class="wrapper-neighbors">
    <% @users.each do |user| %>
          <div class="card-neighbors text-center">
            <%= link_to profile_path(user), class: 'without-decoration neighbors-link' do %>
            <% if user.photo.attachment.nil? %>
              <%= image_tag('Avatar_default.jpeg', crop: :fill, class: "neighbors-avatar") %>
          <% else %>
              <%= cl_image_tag user.photo.key, height: 150, width: 200, crop: :fill, class: "neighbors-avatar"%>
          <% end %><br>
          <div style="margin-bottom: 5px; font-weight:bold;"><%= user.first_name %> <%= user.last_name %></div>

              <% unless user.description.nil? %>
                <div class="secondary-information"><%= user.description %></div>
              <% end %>
        <% end %>
        </div>
    <%end %>
  </div>
</div>


