
<% if current_user == @user %>
    <h1>Mon profil</h1>
<%else  %>
    <h1>Mon voisin</h1>
<% end %>



<p>
    
    <% if @user.photo.attachment.nil? %>
        <%= image_tag('Avatar_default.jpeg', width: 170, height: 200, crop:"fill") %>
    <% else %>
        <%= cl_image_tag @user.photo.key, height: 150, width: 200, crop: :fill %>
    <% end %>
    
    
  
       
    First name: <%= @user.first_name %> |
    Last name: <%= @user.last_name %> |
    Pseudo: <%= @user.pseudo %> |
    Email: <%= @user.email %> |

    Description: 
    <% if @user.description.nil? %>
        to be completed...
    <%else  %>
        <%= @user.description %>
    <%end  %>
</p>
<p>
    <% if current_user == @user %>
        <%= link_to 'edit profile', edit_profile_path%>    
    <%end%>
</p>

<p>_____________</p>
<p>Ma résidence</p>
<%= link_to @user.residence.name, residence_path(@user.residence.id) %>
<%=@user.residence.address%>





<p>_____________</p>

<% if @user.services.count == 0 %>
    <h5>Pas d'annonces...</h5>
<%elsif @user.services.count == 1%>
    <h5>1 annonce publiée</h5>
<% else %>
    <h5> <%= @user.services.count %> annonces publiées </h5>
    
<% end %>


<%@user.services.each do |service|%>
    <p>
        <%= service.title %> 
        | from: <%= service.start_at %> to <%= service.end_at %> |
        category : <%= service.category %> 
        <%= link_to 'more details', service_path(service)%>  
        <% if current_user == @user %>
            <%= link_to 'edit this service', edit_service_path(service)%>    
        <%end%>

    </p>
<%end%>




