<div class="container my-4">

<h1 class="text-center mb-4">My messages</h1>
  <% @chatrooms.each do |chatroom| %>
  <% if chatroom.guest == current_user %>
    <% other = chatroom.host %>
  <% else %>
    <% other = chatroom.guest %>
  <% end %>
    <%= link_to chatroom_path(chatroom), class:'without-decoration' do %>
      <div class="card-chatroom">
        <% if other.photo.attachment.nil? %>
            <%= image_tag('Avatar_default.jpeg', crop:"fill", class: "card-chatroom-avatar") %>
        <% else %>
            <%= cl_image_tag other.photo.key, height: 150, width: 200, crop: :fill, class: "card-chatroom-avatar"%>
        <% end %>
        <div class="card-chatroom-text">
          <div class="card-chatroom-title">
            <%= other.pseudo %>
          </div>
          <% unless chatroom.messages.empty? %>
            <div class="card-chatroom-body">
              <div class="card-chatroom-last-message">
                <%= chatroom.messages.first.content %>
              </div>
              <div class="card-chatroom-date">
                <%= chatroom.messages.first.created_at.strftime("%a %b %e") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="mb-5 mt-5 button text-center"><%= link_to "Start new conversation", new_chatroom_path, class: "without-decoration button-green"  %></div>
</div>


