<div class="container">
  <h1 class="text-center" id="chat-title"><%= @other.pseudo %></h1>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false %>
    <%= f.button :submit %>
  <% end %>
</div>
