<div class="container margin-page-without-topmenu">
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      <h1 class="text-center mt-4 mb-4" id="chat-title"><%= @other.pseudo %></h1>
      <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% if @messages.empty?  %>
          <p class="font-italic" id="no-message">There is no messages for the moment .... Go ahead and talk !</p>
        <% else %>
          <% @messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        <% end %>
      </div>

      <%= simple_form_for [ @chatroom, @message ], remote: true, html: {id: :form_message }  do |f| %>
        <div class="split-chatbar">
          <%= f.input :content, label: false %>
          <i class="fas fa-paper-plane paper-button" id="paper-plane-send"></i>
      <% end %>
      </div>
    </div>
  <div>
</div>
