<% unless params[:controller].include? "devise" %>
  <div class="mobile-menu-container none-d">

      <div class="text-center without-decoration-white">
        <%= link_to(root_path) do %>
          <i class="fas fa-people-arrows"></i><br> Services
        <% end %>
      </div>

      <div class="text-center without-decoration-white">
        <%= link_to(chatrooms_path) do %>
          <i class="fas fa-comments"></i><br> Messages
        <% end %>
      </div>

      <div class="text-center without-decoration-white">
        <%= link_to(new_service_path) do %>
          <i class="fas fa-plus-circle"></i><br> Add post
        <% end %>
      </div>

      <div class="text-center without-decoration-white">
        <% if current_user %>
          <%= link_to(residence_path(current_user.residence)) do %>
            <i class="fas fa-building"></i><br> Copro
          <% end %>
        <% end %>
      </div>

      <div class="text-center without-decoration-white">
        <%= link_to(profiles_path) do %>
          <i class="fas fa-users"></i><br> Neighbors
        <% end %>
      </div>
  </div>
<% end %>
