<% unless params[:controller].include? "devise" %>
  <div class="mobile-menu-container none-d">

    <div class="text-center without-decoration-white <%='active' if current_page?(root_path) %>">
      <%= link_to(root_path) do %>
        <i class="fas fa-people-arrows"></i><br> Services
      <% end %>
    </div>

    <div class="position-relative text-center without-decoration-white <%='active' if current_page?(chatrooms_path) %>" id ="messages-on-mobile-menu-<%=current_user.id%>">
      <%= link_to(chatrooms_path) do %>
        <i class="fas fa-comments"></i><br> Messages
      <% end %>
      <% if @unread_message %>
        <div class="small-notification" ></div>
      <%end  %>
    </div>

    <div class="text-center without-decoration-white <%='active' if current_page?(new_service_path) %>">
      <div data-turbolinks="false">
        <%= link_to(new_service_path) do %>
          <i class="fas fa-plus-circle"></i><br> Add service
        <% end %>
      </div>
    </div>

    <div class="text-center without-decoration-white <%='active' if current_page?(current_user.residence) %>">
      <% if current_user %>
        <%= link_to(residence_path(current_user.residence)) do %>
          <i class="fas fa-building"></i><br> Copro
        <% end %>
      </div>
      <% end %>

    <div class="text-center without-decoration-white <%='active' if current_page?(profiles_path) %>">
      <%= link_to(profiles_path) do %>
        <i class="fas fa-users"></i><br> Neighbors
      <% end %>
    </div>
  </div>
<% end %>
