<div class="container mt-4">
  <h1 class="text-center hide-1080px">My copro</h1>

  <div>
    Payment
    <p>Amount: <%= humanized_money_with_symbol(@charge.price) %></p>
  </div>
  <div>
    <%= form_tag orders_path do %>
      <%= hidden_field_tag 'charge_id', @charge.id %>
      <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
  </div>

  <p class="text-center mt-4 mb-4 secondary-information">
    <%= @residence.name %> - <%= @residence.address  %>
  </p>
  <div id="alerts">
    <% if @info_syndics.present? %>
      <% @info_syndics.each do |info| %>
        <% if info.category == "alert" %>
          <div class="alert-red">
        <% else %>
          <div class="alert-green">
        <% end %>
          <strong><%= info.title %></strong>
          <div class="alert-body">
            <div><%= info.content %></div>
            <small class="align-self-end"><%= info.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="text-center">
    <h6 class="mt-5">My syndic contact</h6>
    <%= image_tag('https://res.cloudinary.com/dow6rowa0/image/upload/v1598537789/stephane-plaza-dyspraxie-isopix_kikbtf.jpg', crop:"fill", class: "img-copro") %>
    <p>
      <strong>Stéphane Plazza</strong><br>
      <div class="button-green" style="display: inline-block;">Send an email</u></div><br>
    </p>
    <p>
      Stéphane Plaza immobilier Lille<br>
      55 Boulevard de la Liberté, 59000 London<br>
      +33 (0)3 20 56 33 34
    </p>
      <hr class="pt-2 pb-1" style="width:60%;text-align:center;">
  </div>
   <div class="text-center">
    <h6 class="mt-5">My owner council contact</h6>
    <%= image_tag('https://res.cloudinary.com/dow6rowa0/image/upload/v1598538790/download_emaje2.jpg', crop:"fill", class: "img-copro") %>
    <p>
      <strong>Jenny Labrosse</strong><br>
      <div class="button-green" style="display: inline-block;">Send an email</u></div><br>
    </p>
    <p>
      President of owner council - <%= @residence.name %><br>
      <%= @residence.address  %>
      +33 (0)3 20 51 22 43
    </p>
  </div>
</div>
