<div class="container mt-4">
  <h1 class="text-center hide-1080px">My copro</h1>

<p class="text-center mt-4 mb-4 secondary-information">
    <%= @residence.name %> - <%= @residence.address  %>
  </p>
  <% if @order %>
   <div class="card-charges text-center">
     <h5>Condominium fees</h5>
     <p><strong>Period</strong> : From 1st june to 31th august.<br>Regulate before 31/09/2020<br>
      <strong>Amount</strong> : <%= humanized_money_with_symbol(@charge.price) %></p>
      <%= form_tag orders_path do %>
      <%= hidden_field_tag 'charge_id', @charge.id %>
      <%= submit_tag 'Pay', class: 'button-green' %>
      <% end %>
   </div>
  <% else %>
    <div class="card-charges text-center">
     <h5>Condominium fees</h5>
     Nothing to pay... You are up-to-date !
   </div>
  <% end %>

    <% if @info_syndics.present? %>
      <div id="alerts" class="mt-5">
      <% @info_syndics.each do |info| %>
        <% if info.category == "alert" %>
          <div class="alert-red">
        <% else %>
          <div class="alert-green">
        <% end %>
          <strong><%= info.title %></strong>
          <div class="alert-body">
            <div><%= info.content %></div>
            <small class="align-self-end"><%= info.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="text-center">
    <h6 class="mt-5">My syndic contact</h6>
    <%= image_tag('https://res.cloudinary.com/dow6rowa0/image/upload/v1598537789/stephane-plaza-dyspraxie-isopix_kikbtf.jpg', crop:"fill", class: "img-copro") %>
    <p>
      <strong>Stéphane Plazza</strong><br>
      <br>
      <%= link_to "mailto:test@test.com"  do%>
        <i class="fas fa-envelope"></i>
      <%end  %>
    </p>
    <p>
      Stéphane Plaza immobilier Lille<br>
      55 Boulevard de la Liberté, 59000 London -
      +33 (0)3 20 56 33 34
    </p>
      <hr class="pt-2 pb-1" style="width:60%;text-align:center;">
  </div>
   <div class="text-center">
    <h6 class="mt-5">My owner council contact</h6>
    <%= image_tag('https://res.cloudinary.com/dow6rowa0/image/upload/v1598538790/download_emaje2.jpg', crop:"fill", class: "img-copro") %>
    <p>
      <strong>Jenny Labrosse</strong><br>
      <%= link_to "mailto:test@test.com"  do%>
        <i class="fas fa-envelope"></i>
      <%end  %>
    </p>
    <p>
      President of owner council - <%= @residence.name %><br>
      <%= @residence.address  %> -
      +33 (0)3 20 51 22 43
    </p>
  </div>
</div>
